* {
	margin:0px;
}
body {
	font-family:Helvetica;
	-webkit-user-select: none;
	background-color:#f3f3f3;
}
#wrapper {
	width:100%;
	height:100%;
	padding-top:15px;
}
#header {
	height:150px;
	width:100%;
	background-image:url(../images/header.png);
	background-size:100%;
	margin-bottom:35px;
}
#loginArea {
	width:100%;
	display:none;
}
.btn {
	font-size:25px;
	text-align:center;
	padding-top:12px;
	padding-bottom:12px;
	width:95%;	
	border-radius: 5px;	
	background-color:#305d9a;
	margin:auto;
	color:#fff;
	font-weight:bold;
	box-shadow: 0px 0px 2px .6px #222222;
}
#status {
	width:100%;
	display:none;
	text-align:center;
}
#status textarea {
	border:1px solid #cccccc;
	width:94%;
	height:75px;
	margin:auto;
}
#info {
	display:none;
}